body {
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}
.nav-menu {
	padding-top: 25px;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #20303e;
	box-shadow: 1px 0px 6px 0px #20303e;
}
.nav-menu-middle {
	padding-top: 150px;
}
.nav-page {
	display: block;
	padding: 10px;
	padding-left: 20px;
	color: #aeb8c3;
	font-size: 16px;
	text-decoration: none;
}
.nav-page-active {
	display: block;
	padding: 10px;
	padding-left: 16px;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	background-color: rgba(21,31,40,.5);
	border-left:4px solid #25bdb1;
}
.nav-page:hover {
	display: block;
	padding: 10px;
	padding-left: 20px;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	background-color: rgba(21,31,40,.5);
}
.logo {
	padding-top:50px;
	padding-left:25px;
	text-decoration:none;
	font-size:35px;
	color:#f0f0f0;
}
.logo:hover {
	color:#FFFFFF;
}
#menu_img {
	margin-right: 5px;
}
.container {
	height: 100%;
	width: auto;
	padding-top: 25px;
	padding-left: 210px;
	background-color: #f0f0f0;
}